---
import Layout from '../layouts/Layout.astro';
---

<Layout 
title="سياسة الخصوصية - وفر لي"
description="تعرف على سياسة الخصوصية التي يتبعها وفر لي لما يخص بيانات المستخدمين."
>
  <main class="min-h-screen bg-gray-50 py-20 lg:px-20 px-10 text-right">
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">سياسة الخصوصية</u>
</h2>
<p dir="rtl">نحن نقدر اهتمامكم ومخاوفكم بشأن خصوصية بياناتكم على شبكة الإنترنت، لذا قمنا بإعداد هذه السياسة لمساعدتكم في تفهم طبيعة جمع واستخدام ومشاركة وكيفية التعامل مع هذه البيانات الشخصية عند زيارتك لتطبيق&nbsp;<strong>وفرلي</strong>. يرجى قراءة سياسة الخصوصية هذه&nbsp;بعناية عند دخولك أو استخدامك للتطبيق.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">جمع المعلومات</u>
</h2>
<p dir="rtl"><strong>-</strong> <strong>المعلومات التي تقدمها لنا</strong></p>
<p dir="rtl">يجوز لنا جمع المعلومات الشخصية التي تقدمها لنا مباشرة عبر الخدمات. على سبيل المثال، يمكن جمع المعلومات الشخصية عند استخدامك لخدماتنا أو التسجيل فيها مثل اسمك ورقم الجوال وعنوان البريد الإلكتروني وصورة الملف الشخصي وموقعك، وأي معلومات أخرى عنك.&nbsp;</p>
<p dir="rtl"><strong>-</strong> <strong>المعلومات التي نجمعها تلقائيا من استخدامك لخدماتنا.</strong></p>
<p dir="rtl">نقوم نحن ومزودي الخدمات لدينا بجمع معلومات حول الخدمات التي تستخدمها وكيفية استخدامها. يتم جمع بعض المعلومات تلقائياً من خلال جهازك، مثل عنوان&nbsp;IP&nbsp;الخاص بك؛ معرف الجهاز، معرف الإعلان، نوع المتصفح؛ خصائص نظام التشغيل؛ معلومات عن استخدامك لخدماتنا؛ والبيانات المتعلقة بالأجهزة المتصلة بالشبكة (على سبيل المثال، الكمبيوتر أو الجهاز المحمول). وبقدر ما تكون معلومات الاستخدام معلومات شخصية بموجب القانون المعمول به أو مقترنة بالمعلومات الشخصية، فإننا سنتعامل مع هذه المعلومات على أنها معلومات شخصية بموجب سياسة الخصوصية هذه. تتضمن الطرق التي قد نستخدمها نحن ومزودو الخدمات لدينا لجمع معلومات الاستخدام ما يلي:</p>
<ul>
<li dir="rtl">معلومات السجل: نجمع معلومات حول استخدامك لخدماتنا، مثل عنوان&nbsp;IP، ونوع المتصفح، ومزود خدمة الإنترنت، وصفحات الإحالة/الخروج، ونظام التشغيل، وملفات تعريف الارتباط التي قد تتعرف بشكل فريد على متصفحك أو حسابك، والبيانات ذات الصلة، تخزينها في ملفات السجل.</li>
<li dir="rtl">المعلومات التي يتم جمعها بواسطة ملفات تعريف الارتباط&nbsp;Cookies: نحن ومزودو الخدمات لدينا قد نستخدم ملفات تعريف الارتباط لجمع وتخزين المعلومات حول تفاعلاتك مع خدماتنا، بما في ذلك معلومات حول التصفح وسلوك الشراء.</li>
</ul>
<p dir="rtl"><strong>-</strong> <strong>المعلومات الأخرى التي تزودنا بها.</strong></p>
<p dir="rtl">قد تقدم لنا طوعاً معلومات إضافية عن نفسك لا تحدد هويتك الشخصية، بما في ذلك، على سبيل المثال لا الحصر الاسم، العنوان، الجنس، البلد، وتفضيلات الخدمة، ونوع الهاتف الذكي ومعلومات تقنية عن أساليب اتصال المستخدم بالموقع، وغيرها من المعلومات المشابهة التي زودتنا بها من خلال ملء النماذج المتوفّرة على منصتنا أو من خلال التواصل معنا عبر الهاتف، أو البريد الإلكتروني، أو أيّ وسيلة أخرى.</p>
<p dir="rtl"><strong>-</strong> <strong>معلومات الدفع والبطاقة</strong>:</p>
<p dir="rtl">يمكنك تزويدنا بمعلومات الدفع، بما في ذلك رقم بطاقة الائتمان أو الخصم وتاريخ انتهاء صلاحية البطاقة ورمز&nbsp;CVV&nbsp;وغيرها من البيانات.</p>
<p dir="rtl">لذا يتوجب عليك الالتزام بتقديم معلومات كاملة وصحيحة ودقيقة والالتزام بالحفاظ على سرية معلومات حسابك، وتحديد الأشخاص المسموح لهم بالوصول إلى حسابك واستخدامه. وإلا ستكون مسؤولاً عن أي أضرار تنتج عن عدم دقة هذه المعلومات والبيانات أو عدم تحديثها بمجرد تغييرها. ويجوز لنا مشاركة المعلومات المذكورة مع أطراف ثالثة لغرض تصميم الإعلانات وتحليلها وإدارتها وتقديم التقارير وتحسينها على التطبيق وغيرها.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">استخدام المعلومات الشخصية</u>
</h2>
<p dir="rtl">باستخدامك لتطبيق&nbsp;<strong>وفرلي</strong>&nbsp;فأنت تفوضنا وتعطينا الصلاحية لاستخدام بياناتك الشخصية التي نجمعها وذلك من أجل:</p>
<p dir="rtl">- تقديم خدمة أفضل، وتحسين خدماتنا.</p>
<p dir="rtl">- تحسين جودة خدمة العملاء، حيث تساعدنا المعلومات الخاصة بك على سهولة الاستجابة لطلباتك الموجهة، وتلبية احتياجاتك للدعم بشكل أكثر فاعلية.</p>
<p dir="rtl">- الرد على الاستفسارات ورسائل البريد الإلكتروني من مستخدمينا.</p>
<p dir="rtl">- التواصل معك وإرسال رسائل الكترونية بشكل دوري.</p>
<p dir="rtl">- استخدامها لأغراض ترويجية وإعلامية، وإجراء أبحاث السوق والدراسات الاستقصائية.</p>
<p dir="rtl">- تقديم مقترحات وتوصيات إليك وإلى المستخدمين الآخرين للتطبيق بشأن الخدمات التي قد تهمكم، والتي قد تعتمد على نشاطكم على التطبيق.</p>
<p dir="rtl">- أي استخدامات أخرى بعد الحصول على موافقتك لأغراض أخرى غير تلك التي كنت قد وافقت إليها سابقاً.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">تخزين البيانات</u>
</h2>
<p dir="rtl">نحن في&nbsp;<strong>وفرلي</strong>&nbsp;نقوم فقط بتخزين بياناتك الشخصية طالما أنها ضرورية للأغراض التي تتم بها أو من خلالها معالجة البيانات الشخصية والخاصة بها، كما أننا نحتفظ بالحق في إعادة النظر في شروط الخصوصية الحالية، وعليك بمراجعة هذه السياسة من وقت لآخر.&nbsp;</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">حماية وأمن البيانات</u>
</h2>
<p dir="rtl">- نحن نتخذ كافة التدابير الأمنية اللازمة والمناسبة لحماية معلوماتك الشخصية من الفقد أو التلف أو التغيير أو الإفشاء أو الوصول غير المصرح به أو الاستخدام غير المقصود وغير القانوني.&nbsp;يجوز لنا جمع معلوماتك واستخدامها وحفظها ومشاركتها إذا رأينا ضرورة في ذلك بهدف:&nbsp;</p>
<ul>
<li dir="rtl">الاستجابة للقوانين أو للوائح السارية أو للإجراءات القانونية أو للطلبات الحكومية.</li>
<li dir="rtl">تنفيذ شروطنا وأي شروط وسياسات سارية أخرى، بما في ذلك لأغراض التحقيقات في المخالفات المحتملة.&nbsp;</li>
<li dir="rtl">كشف ومنع حالات التزوير والمسائل الأمنية والقانونية والأعطال التقنية بالإضافة إلى التعامل معها والتحقيق فيها.</li>
<li dir="rtl">حماية حقوق وملكية وأمان وفرلي ومستخدمينا.</li>
</ul>
<p dir="rtl">ومع ذلك، من الممكن ألا يكون هذا المستوى من الحماية فعال بنسبة 100% إلا إذا كنت تتبع سياسات أمنية خاصة بك. يجب عليك ألا تشارك بيانات حسابك مع أي شخص. وإذا كنت تشعر بالقلق بأن أي من بياناتك الشخصية قد كشفت، يجب عليك تغييرها على الفور بعد تسجيل الدخول على حسابك.</p>
<p dir="rtl"><strong><u>معالجة البيانات</u></strong>&nbsp;</p>
<p dir="rtl">- نحن في&nbsp;وفرلي&nbsp;نقوم بمعالجة البيانات الشخصية الصحيحة والمحدثة فقط، لذا يحق لك الحصول على تصحيح لبياناتك الشخصية غير الدقيقة والمتعلقة بك.</p>
<p dir="rtl">- نحن نلتزم بحذف البيانات الشخصية غير الضرورية فيما يتعلق بالأغراض التي تم تجميعها أو معالجتها بطريقة أخرى.&nbsp;</p>
<p dir="rtl">- نحن نستخدم فقط معالجات البيانات التي توفر ضمانات كافية لتنفيذ التدابير الفنية والتنظيمية المناسبة بطريقة تجعل المعالجة تُلبي وتكفل حماية حقوق جميع موضوعات البيانات المعنية.</p>
<p dir="rtl">- يحق لك طلب تصحيح أو محو البيانات الشخصية أو تقييد معالجة البيانات الشخصية المتعلقة بصاحب البيانات أو الاعتراض على مثل هذه المعالجة.</p>
<p dir="rtl">- يحق لك تقييد&nbsp;وفرلي&nbsp;من المعالجة إذا كان لديك سبب معين لرغبتك في التقييد.</p>
<p dir="rtl">- يحق لك الاعتراض على معالجة البيانات الشخصية المتعلقة بك بناءً على قرارات آلية.</p>
<p dir="rtl">- يحق لك تقديم شكوى إلى السلطة الاشرافية.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">مشاركة المعلومات</u>
</h2>
<p dir="rtl">- قد نشارك معلومات عنك -حسب الضرورة -للأغراض التالية:</p>
<p dir="rtl"><strong>أ.</strong> الامتثال للإجراءات القانونية.</p>
<p dir="rtl"><strong>ب.</strong> الاستجابة للطلبات المقدمة من السلطات العامة والحكومية.</p>
<p dir="rtl"><strong>ج.</strong> تنفيذ الشروط والأحكام الخاصة بنا.&nbsp;</p>
<p dir="rtl"><strong>د.</strong> حماية حقوقنا وخصوصيتنا وسلامتنا وممتلكاتنا و/ أو حقوقك أو الآخرين.</p>
<p dir="rtl"><strong>ه.</strong> للحد أو التقليل من الأضرار التي قد نتحملها.</p>
<p dir="rtl">- يجوز لنا أيضاً مشاركة المعلومات مع الشركات التابعة لنا لأغراض تجارية داخلية. على سبيل المثال،</p>
<p dir="rtl"><strong>أ.</strong> معالجة وتنفيذ طلباتك.</p>
<p dir="rtl"><strong>ب.</strong> توفير خدمة العملاء.</p>
<p dir="rtl"><strong>ج.</strong> تحسين منتجاتنا.</p>
<p dir="rtl">- قد نقوم أيضاً بمشاركة المعلومات إلى طرف ثالث فيما يتعلق بأي عملية إعادة تنظيم أو دمج أو بيع أو مشروع مشترك أو تنازل أو تحويل أو أي تصرف آخر لكل أو جزء من أعمالنا أو أصولنا أثناء المفاوضات.</p>
<p dir="rtl">- عندما يشارك&nbsp;وفرلي&nbsp;مع مقدمي الخدمات من الجهات الخارجية، ويكون الكشف عن المعلومات الشخصية لمقدمي هذه الخدمات ضرورياً لتوفير مثل هذه الخدمة، فإن&nbsp;وفرلي&nbsp;يضمن بأن مقدمي الخدمة هؤلاء يقوموا بحماية المعلومات الشخصية بطريقة تتفق مع سياسة الخصوصية هذه.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">روابط الأطراف الخارجية</u>
</h2>
<p dir="rtl">- قد يحتوي&nbsp;<strong>وفرلي</strong>&nbsp;على روابط تحيل المستخدم أو الزائر إلى تطبيقات أو روابط أو مواقع الكترونية خارجية والتي من شأنها أن تقوم بجمع معلومات عنك والإفصاح عنها بطريقة مختلفة عن التطبيق الخاص بنا.</p>
<p dir="rtl">- لا يتحكم&nbsp;<strong>وفرلي</strong>&nbsp;في ممارسات الخصوصية للتطبيقات والمواقع الخارجية، ونحن لسنا مسؤولين عن المحتوى أو سياسات الخصوصية لتلك التطبيقات والمواقع الخارجية. يجب عليك مراجعة سياسة الخصوصية وشروط الاستخدام الخاصة بالطرف الثالث المعمول بها عند زيارة أي من التطبيقات أو المواقع الخارجية.</p>
<p dir="rtl">- نحن غير مسؤولين عن جمع أو استخدام أو الإفصاح عن أية معلومات يقوم بها تطبيق أو موقع الكتروني آخر له رابط في&nbsp;<strong>وفرلي</strong>. ونوصي مستخدمي التطبيق بقراءة سياسة الخصوصية الخاصة بكل تطبيق أو موقع آخر.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">تعديل وتغيير سياسة الخصوصية</u>
</h2>
<p dir="rtl">- يحتفظ "وفرلي" بالحق الكامل في تعديل أو تغيير أو تحديث سياسة الخصوصية هذه، كليًا أو جزئيًا، في أي وقت ودون إشعار مسبق، ويُعد استمرار استخدامك للتطبيق بعد نشر التعديلات موافقة صريحة منك على تلك التعديلات. ويقع على عاتق المستخدم مسؤولية مراجعة سياسة الخصوصية بشكل دوري للاطلاع على أي تحديثات أو تغييرات قد تطرأ عليها، ولا يُلزم "وفرلي" بإشعار المستخدمين عن هذه التعديلات.&nbsp;</p>
<p dir="rtl">- يجب التنويه بأننا لسنا مسؤولين عن عدم مراجعتك لهذه السياسة قبل التسجيل أو استخدام وتصفح&nbsp;<strong>وفرلي</strong>&nbsp;وأن قراءة هذه السياسة من قبل مستخدمي ومتصفحي التطبيق هو إقرار كامل واعتراف منهم بكل ما ورد بهذه السياسة واتفاق على جميع ما ورد فيها.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">قبول هذه السياسة</u>
</h2>
<p dir="rtl">أنت تُقر بأنك قد قرأت سياسة الخصوصية هذه وتوافق على جميع بنودها وشروطها. استمرارك في استخدام<strong> وفرلي</strong>&nbsp;أو خدماته فإنك توافق على الالتزام بهذه السياسة. إذا كنت لا توافق على الالتزام ببنود هذه السياسة، فأنت غير مُخول لاستخدام أو الدخول إلى تطبيق&nbsp;وفرلي&nbsp;وخدماته.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">الاتصال بنا</u>
</h2>
<p dir="rtl">إذا كانت لديك أية أسئلة أو استفسارات حول سياسة الخصوصية بتطبيق&nbsp;وفرلي&nbsp;يرجى الاتصال بنا على:</p>
<ul>
<li dir="rtl">البريد الإلكتروني:&nbsp;&nbsp;info@yastech.com.sa</li>
</ul>
<p><strong><u>Privacy policy</u></strong></p>
<p>We appreciate your concerns and interest about the privacy of your data on the Internet, so we have prepared this policy to help you understand the nature of collecting, using, sharing, and how to handle this personal data when you visit our application. Please read this privacy policy carefully when you log in or use&nbsp;<strong>Wfr LI</strong>.</p>
<p><strong><u>INFORMATION COLLECTION</u></strong></p>
<p><strong>-</strong> <strong>Information You Give Us</strong></p>
<p>We may collect Personal Information you provide directly to us via the Services. For example, Personal Information may be collected when you use or register for our Services</p>
<p><strong>-</strong> <strong>Information We Collect Automatically From Your Use of Our Services</strong></p>
<p>We and our Service Providers collect information about the Services that you use and how you use them. Certain information is collected automatically through your device, such as your IP address; device identifier, Ad ID, browser type; operating system characteristics; information about your use of our Services; and data regarding network connected hardware (e.g., computer or mobile device) (&ldquo;<strong>Usage Information</strong>&rdquo;). To the extent that Usage Information is Personal Information under applicable law or is combined with Personal Information, we will treat that information as Personal Information under this Privacy Policy.</p>
<p>The methods that our Service Providers and we may use to collect Usage Information include:</p>
<ul>
<li><strong>Log Information</strong>: We collect information about your use of our Services, such as IP address, browser type, and Internet service provider, referring/exit pages, operating system, cookies that may uniquely identify your browser or your account, and related data, and store it in log files.</li>
<li><strong>Information Collected by Cookies</strong>: Our Service Providers and we may use cookies to collect and store information about your interactions with our Services, including information about your browsing and purchasing behavior.</li>
<li><strong>Information you provided to us&nbsp;</strong></li>
</ul>
<p>You may voluntarily provide us with additional information about yourself that does not identify your personal identity, including but not limited to name, address, gender, country, service preferences, type of smartphone and technical information about the user's communication methods to the application and other information provided by filling out the forms available on our platform or by communicating with us by phone, email, or any other means.</p>
<ul>
<li><strong>Payment and card information</strong></li>
</ul>
<p>You can provide us with payment information, including credit or debit card number, card expiration date, CVV code, and other data.</p>
<p>Therefore, you have to the obligation to provide complete, correct and accurate information,&nbsp;and the obligation to maintain your account information, and to identify who can access to and use your account. Otherwise, you will be liable for damages resulting from the inaccuracy of this data or not updated once changed. We may share this information with third parties for the purpose of ads design, analyzing, managing, reporting and improving on the application and others.</p>
<p><strong><u>USE OF PERSONAL INFORMATION</u></strong></p>
<p>By using the&nbsp;<strong>Wfr LI</strong>, you authorize and give us to use your personal data that we collect:&nbsp;</p>
<p>- To provide a better service, as well as improving our services.</p>
<p>- To improve the quality of customer service, your information helps us to easily respond to your targeted requests, improve customer service and support needs more effectively.</p>
<p>- To respond to inquiries and emails from our Users.</p>
<p>- To communicate with you and send emails periodically.</p>
<p>- To use for promotional and informational purposes, conduct market research and surveys.</p>
<p>- To ensure that you provided with the information that is most relevant to you and your interest</p>
<p>- To make suggestions and recommendations to you and to other users of the application regarding services that may concern you, this may depend on your activity on the application.</p>
<p>- For any other use after obtaining your consent for purposes other than those you have previously agreed to. </p>
<p><strong><u>DATA STORAGE&nbsp;</u></strong></p>
<p>We in&nbsp;<strong>Wfr LI</strong>&nbsp;only store your personal data as long as it is necessary for the purposes by which it is processed or through which your personal data. We reserve the right to review the current privacy terms and you must review this policy from time to time.</p>
<p><strong><u>SECURITY AND PROTECT DATA</u></strong></p>
<p>- We take all necessary and appropriate security measures to protect your personal information from loss, damage, alteration, disclosure, unauthorized access or unintentional and unlawful use. We may collect, use, save and share your information if we consider it necessary to:</p>
<ul>
<li>To comply with laws, regulations in force, legal procedures or government requests;</li>
<li>To implement our terms and any other applicable conditions and policies, including for the purposes of investigations of possible irregularities; or</li>
<li>To detect and prevent cases of forgery, security and legal issues,&nbsp;and technical malfunctions, as well as the handling and investigation of such cases; or</li>
<li>Protecting the rights, property or safety of our users or&nbsp;Wfr LI.</li>
</ul>
<p>However, this level of protection can only be 100% effective if you follow your own security policies. You should not share your account data with anyone, and if you are concerned that any of your personal data has disclosed, you must change it immediately after you sign in to your account.</p>
<p><strong><u>DATA PROCESSING</u></strong></p>
<p><strong>-</strong> We in&nbsp;<strong>Wfr LI</strong>&nbsp;aims to process only correct and updated personal data. So, you have the right to obtain a correction and update of your inaccurate personal data related to you.&nbsp;</p>
<p><strong>-</strong> We in&nbsp;<strong>Wfr LI</strong>&nbsp;obliged to deleting unnecessary personal data with respect to the purposes that have been collected or otherwise processed.</p>
<p><strong>-</strong> We use only data processors that provide adequate safeguards to implement appropriate technical and regulatory measures in such a way as to ensure that the processing meets and ensures the protection of the rights of all relevant data topics.</p>
<p><strong>-</strong> You have the right to request to correct or erase personal data,&nbsp;or to restrict the processing of your personal data or to object to such processing.</p>
<p><strong>-</strong> You have the right to restrict&nbsp;<strong>Wfr LI</strong>&nbsp;from processing if you have a specific reason for wanting to restrict.</p>
<p><strong>-</strong> You have the right to object to processing your personal data based on automatic decisions.&nbsp;</p>
<p><strong><u>SHARING INFORMATION</u></strong></p>
<p><strong>-</strong> We may share information about you -As necessary- for the following purposes:&nbsp;</p>
<ol type="a">
<li> To comply with legal process.</li>
<li> To respond to requests from public and government authorities.</li>
<li> To enforce our terms and conditions;</li>
<li> To protect our rights, privacy, safety or property, and/or that of you or others.</li>
<li> To limit the damages that we may sustain.</li>
</ol>
<p><strong>-</strong> We also may share information with our affiliates for internal business purposes. For example,</p>
<ol type="a">
<li> Processing and fulfilling your orders.</li>
<li> Providing customer service.</li>
<li> Improving our products.</li>
</ol>
<p><strong>-</strong> We also may share information to a third party in connection with or during negotiations of any reorganization, merger, sale, joint venture, assignment, transfer or other disposition of all or any portion of our business, or assets.</p>
<p><strong>-</strong> When&nbsp;<strong>Wfr LI</strong>&nbsp;engages service providers and when disclosure of Personal Information to such providers is necessary for the provision of such service,&nbsp;<strong>Wfr LI</strong>&nbsp;ensures that such providers protect Personal Information in a manner consistent with this Privacy Policy.</p>
<p><strong><u>EXTERNAL LINKS</u></strong></p>
<p><strong>-</strong> <strong>Wfr LI</strong>&nbsp;may contain links that refer the user or visitor to external applications, links, or websites that we do not have or control that will collect and disclose information about you in a different way from our application.&nbsp;</p>
<p><strong>-</strong> We in&nbsp;<strong>Wfr LI</strong>&nbsp;does not control the privacy practices of external applications and sites, and we are not responsible for the content or privacy policies of those external applications and sites. You must review the privacy policy and terms of use of the third party when you visit any of the external applications or sites.</p>
<p><strong>-</strong> We are not responsible for collecting, using or disclosing any information those external parties that has a link in&nbsp;<strong>Wfr LI</strong>, and we recommend that users of App read the privacy policy of these third parties.</p>
<p><strong><u>MODIFYING AND CHANGING PRIVACY POLICY</u></strong></p>
<p><strong>-</strong> Wfr LI reserves the full right to modify, change, update, or delete this policy, in whole or in part, at any time and without prior notice. Your continued use of the application after any changes are posted constitutes your explicit acceptance of those changes. It is your responsibility to review this Privacy Policy periodically to stay informed of any updates. Wfr LI is not obligated to notify users individually of such changes.</p>
<p><strong>-</strong> Please note, that we are not responsible for not reviewing this policy before using and browsing the App, and that reading this policy by the users and Visitors of the App is a complete acknowledgment and confirmation of all that stated in this policy, and agreement on all its stated therein.</p>
<p><strong><u>ACCEPTING POLICY</u></strong></p>
<p>You acknowledge that you have read this Privacy Policy and agree to all of its terms and conditions. By continuing, to use&nbsp;<strong>Wfr LI</strong>&nbsp;or its services, you agree to be bound by this policy. If you do not agree to be bound by this Policy, you are not authorized to use or access the&nbsp;<strong>Wfr LI</strong>&nbsp;and its services.</p>
<p><strong><u>CONTACT US</u></strong></p>
<p>If you have any questions or concerns about&nbsp;<strong>Wfr LI</strong>&nbsp;privacy policy, please contact us:</p>
<ul>
<li><strong>E-mail:</strong>&nbsp;info@yastech.com.sa</li>
</ul>
</main>
</Layout>