---
import Layout from '../layouts/Layout.astro';
---

<Layout 
title="الشروط والأحكام - وفر لي"
description='تعرف على الشروط والأحكام التي يجب الالتزام بها عند استخدام منصة "وفر لي".'>
  <main class="min-h-screen bg-gray-50 py-20 lg:px-20 px-10 text-right">
    <div>&nbsp;</div>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">شروط الاستخدام</u>
</h2>
<p dir="rtl">أهلا بك في تطبيق&nbsp;<strong><u>وفر لي</u></strong></p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">المقدمة</u>
</h2>
<p dir="rtl">توضح شروط الاستخدام هذه الشروط والأحكام المطبقة على دخولك واستخدامك لتطبيق&nbsp;<strong><u>وفر لي</u></strong>)&nbsp;<strong>"التطبيق</strong>"). إن هذه الوثيقة اتفاق و ملزم قانونياً بينك كمستخدم للتطبيق (والذي سيشار إليه من الآن فصاعدا باسم "<strong>أنت</strong>" أو "<strong>المستخدم</strong>") وبين&nbsp;<strong>شركة </strong><strong><u>وفر لي</u></strong>&nbsp;والتي سيشار إليها من الآن فصاعدا باسم "<strong>نحن</strong>" أو "<strong><u>وفر لي</u></strong><strong>"</strong>.&nbsp;</p>
<p dir="rtl">تخضع هذه الشروط والأحكام للتغيير ويمكن تعديلها في أي وقت ودون إشعار مسبق. وإن استخدامك المستمر أو اللاحق لهذا التطبيق بعد نشر أي تغييرات على هذه الشروط والأحكام يعني قبولك وموافقتك عليها. فإذا كنت لا توافق على هذه الشروط والأحكام، أو تعترض على أي تغييرات عليها، يرجى التوقف فوراً عن استخدام التطبيق أو الخدمات.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">معلومات عنا</u>
</h2>
<p dir="rtl">يتم تشغيل تطبيق&nbsp;<strong><u>وفر لي</u></strong>&nbsp;من قبل&nbsp;<strong>شركة </strong><strong><u>وفر لي</u></strong>&nbsp;,وهي شركة ذات مسئولية محدودة مسجلة في المملكة العربية السعودية، تحت رقم&nbsp;7050699748&nbsp;، وعنوانها في مكة المكرمة الرمز البريدي&nbsp;24221</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">وصف الخدمة</u>
</h2>
<p dir="rtl"><strong><u>وفر لي</u></strong> هو تطبيق إلكتروني ويوفر خدمة بيع المنتجات الغذائية بالجملة وتوصيل طلبات العملاء من خلال الإنترنت، حيث يقوم بالربط بين العملاء ومقدمي الخدمات بكل سهولة ويسر وفي أسرع وقت<strong>. </strong></p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">الوصول إلى وفر لي</u>
</h2>
<p dir="rtl">- تطبيق&nbsp;<strong><u>وفر لي&nbsp;</u></strong>متاح مجاناً لكافة المستخدمين، ومع ذلك نحن لا نضمن إتاحة&nbsp;<strong><u>وفر لي</u></strong> أو أي محتوى عليه بشكل دائم أو غير متقطع. ويجوز لنا تعليق أو سحب أو إيقاف أو تغيير كل أو أي جزء من التطبيق في أي وقت دون إشعار مسبق، ولن نكون مسؤولين تجاهك إذا كان أي جزء من التطبيق غير متاح أو متقطع في أي وقت أو لأي فترة.&nbsp;</p>
<p dir="rtl">&nbsp;ويشترط بوصولك إلى&nbsp;<strong><u>وفر لي</u></strong> أن توافق على:</p>
<p dir="rtl">- أنك مسؤول عن اتخاذ جميع الترتيبات اللازمة لك للوصول إلى التطبيق.</p>
<p dir="rtl">- أنك مسؤول عن التأكد من أن جميع الأشخاص الذين يدخلون إلى التطبيق من خلال اتصال الإنترنت الخاص بك على علم بشروط التطبيق هذه، وأنهم ملزمون بها من خلال الاطلاع على التطبيق أو استخدامه أو الوصول إليه أو تصفحه أو إرسال أي محتوى أو مادة عبره.</p>
<p dir="rtl">- أنك توافق على شروط الاستخدام هذه بصفتها اتفاقية قانونية ملزمة بينك وبين&nbsp;<strong><u>وفر لي</u></strong> دون قيود.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">التعريفات</u>
</h2>
<p dir="rtl">في هذه الاتفاقية، ما لم يقتضي السياق خلاف ذلك, تكون المصطلحات التالية كما هو موضح:&nbsp;</p>
<p dir="rtl">▪ <strong><u>وفر لي</u></strong>&nbsp;أو "<strong>التطبيق</strong>" أو "<strong>الإدارة</strong>" أو "<strong>نحن</strong>" أو "<strong>ضمير</strong>&nbsp;<strong>المتكلم</strong>" أو &ldquo;<strong>ضمير الملكية</strong>": تشير إلى العلامة التجارية&nbsp;<strong><u>وفر لي</u></strong>،&nbsp;<strong>وشركة</strong><strong><u>&nbsp;وفر لي</u></strong></p>
<p dir="rtl">▪ "<strong>الحساب</strong>": المساحة المخصصة للمستخدمين في التطبيق والتي تمكنهم من الانتفاع بخدمات&nbsp;<strong><u>وفر لي</u></strong><u>.</u>&nbsp;</p>
<p dir="rtl">▪ "المستخدم/ أنت/أنك": أي شخص يقوم بإنشاء حساب، ويستخدم التطبيق أو يكون نشطاً على التطبيق.</p>
<p dir="rtl">▪ "<strong>مقدم الخدمة</strong>": هو من يسجل في التطبيق كمقدم لأي خدمة من الخدمات المتاحة على تطبيق <strong><u>وفر لي</u></strong>.</p>
<p dir="rtl">▪ "العميل": هو طالب الخدمة مستخدم التطبيق.</p>
<p dir="rtl">▪ "<strong>الطلبات/الخدمات</strong>": أي خدمة تقدم من خلال تطبيق&nbsp;<strong><u>وفر لي</u></strong>.</p>
<p dir="rtl">▪ "المحتوى" يشير إلى جميع الصوتيات، والفيديوهات، والنصوص، والرسومات، والصور، وأي مواد أخرى يتم إدخالها، أو معالجتها، أو تضمينها، أو الدخول إليها من خلال التطبيق.</p>
<p dir="rtl">▪ "الاتفاقية": تشير إلى هذه الوثيقة وما تتضمنه من شروط وأحكام، وكذلك سياسة الخصوصية، وكافة الاتفاقيات والسياسات المكملة والمنفذة لاتفاقك معنا.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">الموافقة والأهلية القانونية&nbsp;</u>
</h2>
<p dir="rtl">- يشترط لوصولك لتطبيق&nbsp;<strong><u>وفر لي</u></strong>&nbsp;واستخدامه أن تقرّ بأنك تتمتع بالأهلية القانونية اللازمة للدخول معنا في هذه الاتفاقية، وأنك تبلغ من العمر&nbsp;18&nbsp;عام على الأقل.&nbsp;</p>
<p dir="rtl">- <u>التسجيل والعضوية</u></p>
<ol type="1">
<li dir="rtl"><u>الشروط الخاصة بالأفراد:</u></li>
</ol>
<p dir="rtl">يقرّ الأفراد ويوافقون على:</p>
<p dir="rtl">- الالتزام بكافة القوانين واللوائح المعمول بها في المملكة العربية السعودية.</p>
<p dir="rtl">- الالتزام بشروط وأحكام وسياسة الخصوصية في تطبيق&nbsp;<strong><u>وفر لي</u></strong>، ومراجعة أي شروط أو أحكام أو إشعارات يتم إرسالها من <strong><u>وفر لي</u></strong>&nbsp;فيما يتعلق بتقديم الخدمات.</p>
<p dir="rtl">- التمتع بالأهلية القانونية، وألا يقل عمر المستخدم عن&nbsp;18&nbsp;سنة حتى يتمكن من استخدام والتسجيل في&nbsp;<strong><u>وفر لي</u></strong><u>.</u></p>
<p dir="rtl">- تسجيل حساب صحيح وذلك من خلال تقديم رقم جوال صحيح، وتقديم معلومات كاملة وصحيحة ودقيقة ومراجعتها وتحديثها بشكل دوري، وتحمل المسئولية الكاملة عن عدم موثوقية هذه البيانات أو أي خطأ فيها.</p>
<p dir="rtl">- عدم السماح بإنشاء أكثر من حساب في&nbsp;<strong><u>وفر لي</u></strong>&nbsp;بنفس رقم الجوال.</p>
<p dir="rtl">- تحمل المسئولية الكاملة عن جميع الأنشطة التي تحدث تحت حسابك أو كلمه المرور المؤقتة&nbsp;OTP.&nbsp;</p>
<p dir="rtl">- تحمل مسئولية الحفاظ على المعلومات السرية الخاصة بالحساب، ومسئولية الإفصاح للغير عن هذه المعلومات، وتحمل المسئولية عن أي استخدام يقع من أي شخص تم الإفصاح له عن هذه المعلومات السرية.</p>
<p dir="rtl">- استخدام&nbsp;<strong><u>وفر لي</u></strong> على مسؤوليتك الشخصية، واستخدام الخدمة للأغراض المشروعة فقط، وعدم استخدامها لإرسال أو تخزين أي مواد غير قانونية أو بهدف الاحتيال.</p>
<p dir="rtl">- عدم استخدام المعلومات، أو المحتوى أو أي بيانات يتم الوصول إليها من خلال <strong><u>وفر لي</u></strong> في أي غرض آخر غير استعمالات الخدمة.</p>
<p dir="rtl">- التعامل مع مقدمي الخدمات (المتاجر) وفقاً لقواعد ومبادئ الأخلاق والاحترام.</p>
<ol start="2" type="1">
<li dir="rtl"><u>شروط خاصة بمقدمي الخدمة (المتاجر):</u></li>
</ol>
<p dir="rtl">يقرّ ويوافق مقدمو الخدمة على:&nbsp;</p>
<p dir="rtl">- الامتثال لكافة القوانين واللوائح المعمول بها في المملكة العربية السعودية.</p>
<p dir="rtl">- الامتثال&nbsp;ومراجعة أي شروط أو أحكام أو إشعارات يتم إرسالها من <strong><u>وفر لي</u></strong> فيما يتعلق بتقديم الخدمات.</p>
<p dir="rtl">- تسجيل حساب عبر&nbsp;<strong><u>وفر لي</u></strong>&nbsp;وتقديم المعلومات الكاملة والصحيحة والدقيقة ومراجعتها وتحديثها بشكل دوري، وتحمل المسئولية الكاملة عن عدم موثوقية هذه البيانات أو أي خطأ فيها.</p>
<p dir="rtl">- تقديم السجل التجاري وكافة الأوراق والمستندات المطلوبة لإثبات تقديم الخدمة.</p>
<p dir="rtl">- استخدام الخدمة للأغراض المشروعة فقط، وعدم استخدام الخدمات لإرسال أو تخزين أي مواد غير قانونية أو بهدف الاحتيال.</p>
<p dir="rtl">- عدم استخدام المعلومات، أو المحتوى أو أي بيانات يتم الوصول إليها من خلال&nbsp;<strong><u>وفر لي&nbsp;</u></strong>في أي غرض آخر غير استعمالات الخدمة.</p>
<p dir="rtl">- تحمل المسؤوليات والالتزامات الناشئة عن&nbsp;القيام بتنفيذ الطلبات عبر&nbsp;<strong><u>وفر لي</u></strong><u>،</u>&nbsp;ويكون المسؤول في مواجهة الأفراد عن أي أضرار تنشأ لهم نتيجة أي تقصير أو أخطاء يحدث بسبب متعلق بتنفيذ الطلب.</p>
<p dir="rtl">- يحق لنا رفض استخدامك للموقع وتقديم الخدمات من خلاله دون الحاجة إلى إبداء أسباب ذلك الرفض.</p>
<p dir="rtl">- التعهد بالمسؤولية عن جودة جميع الخدمات وتنفيذ الطلبات من خلال <strong><u>وفر لي.</u></strong></p>
<p dir="rtl">- ينبغي على كافة المتاجر والتجّار تقديم فاتورة إلى المستهلك تبيّن تكاليف شراء تقديم الخدمة أو المنتج، وإجمالي السعر، وتاريخ التسليم ومكانه وسياسة الاستبدال والاسترجاع.</p>
<p dir="rtl">- يحق للمورد إلغاء طلب واحد فقط في الشهر خلال&nbsp;24&nbsp;ساعة من إنشائه، بشرط وجود مبرر واضح، مع إشعار العميل. تكرار الإلغاء يخضع للمحاسبة وفق سياسة المنصة.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">الاستخدام المشروع</u>
</h2>
<p dir="rtl">- يشترط لوصولك إلى التطبيق واستخدام خدماته أن توافق على:</p>
<ol type="1">
<li dir="rtl">استخدام التطبيق والخدمات لأغراضك الخاصة والداخلية فقط.&nbsp;</li>
<li dir="rtl">عدم القيام بنسخ أو إعادة إنتاج أو تنزيل أو إعادة نشر أو بيع أو توزيع أي خدمات أو معلومات أو نصوص أو صور أو رسومات أو مقاطع فيديو أو صوت أو ملفات أو قواعد بيانات أو قوائم ...إلخ، متاحاً على أو من خلال التطبيق&nbsp;<u>وفر لي&nbsp;</u>،&nbsp;وعدم القيام بنسخ أو إعادة إنتاج أو تنزيل أو تجميع أو استخدام (محتوى <u>وفر لي</u>) بأي شكل آخر لأغراض تشغيل الأعمال التي تتنافس مع&nbsp;<u>وفر لي</u>، أو بطريقة أخرى استغلال محتوى التطبيق تجارياً.&nbsp;</li>
<li dir="rtl">عدم استخدام أي محتوى أو مواد على التطبيق لأي غرض غير مسموح به صراحة في الشروط.</li>
</ol>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">الاستخدام المحظور</u>
</h2>
<p dir="rtl">يحظر على جميع المستخدمين الآتي:</p>
<ol type="1">
<li dir="rtl">استخدام التطبيق أو أي خدمة تقدم بطريقة غير قانونية أو احتيالية أو لخرق أي قوانين معمول بها أو اللوائح أو الأنظمة المحلية والدولية أو القواعد العرفية المطبقة، أو على النحو الذي نقدره.</li>
<li dir="rtl">استخدام التطبيق أو الخدمة أو المحتوى بأي شكل من الأشكال -وفقاً لتقديرنا الخاص-بطريقة تتسبب في جرح سمعتنا أو العلامة التجارية الخاصة بنا.</li>
<li dir="rtl">استخدام التطبيق للتعدي على أو انتهاك حقوق الملكية الفكرية المتعلقة بنا أو بالآخرين.</li>
<li dir="rtl">نشر أي محتوى أو رسائل تمس الذات الإلهية أو الشخصيات المعتبرة أو تتسم بالتمييز العنصري، أو التمييز في الدين أو العرق أو السن أو الأصل القومي أو الإعاقة، أو تحتوي على سب وقذف أو ألفاظ نابية أو مضايقة أو سوء معاملة، أو تنافي تعاليم الدين الإسلامي، أو تُخل بالآداب العامة.</li>
<li dir="rtl">استخدام التطبيق بقصد التحرش أو الإساءة أو الإهانة أو الأذى أو التشهير أو الاستهانة أو الترهيب أو الميول الجنسية.</li>
<li dir="rtl">نشر أي مواد تحتوي على فيروسات أو أي برامج أخرى ضارة أو أية شفرات خبيثة أو ملفات أو برامج حاسوبية أخرى مصممة للإضرار بالتشغيل العادي للخدمة (أو أي جزء منها) أو التدخل فيه أو تحديده، أو أي برمجيات أو أجهزة حاسوبية أخرى.</li>
<li dir="rtl">جمع أو تعقب المعلومات الشخصية للآخرين؛ لأي غرض بذيء أو غير أخلاقي.</li>
<li dir="rtl">نشر الرسائل أو المراسلات الإلكترونية غير المرغوب فيها أو ما شابه ذلك.</li>
<li dir="rtl">انتحال شخصية أو جهة أخرى أو تقديم بيانات كاذبة أو التلاعب خلاف ذلك بالتظاهر بالتبعية لأي شخص أو جهة أخرى.</li>
<li dir="rtl">نحن نحتفظ بالحق في إنهاء استخدامك للخدمة في حال أي انتهاك أو قيامك بإحدى الاستخدامات المحظورة.</li>
</ol>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">التجهيزات</u>
</h2>
<p dir="rtl">- يتحمل المستخدم مسؤولية الحصول على جميع الأجهزة الخاصة بالهاتف والحاسوب والبرمجيات والمعدات الأخرى اللازمة للدخول إلى تطبيق&nbsp;<strong><u>وفر لي</u></strong> واستخدامه وجميع النفقات المتعلقة بذلك.&nbsp;</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">مراقبة المحتوى</u>
</h2>
<p dir="rtl">نحن نحتفظ بالحق في مراقبة المحتوى، بما يتضمن يلي:</p>
<ol type="1">
<li dir="rtl">مراقبة أي نشاط أو محتوي أو مادة على التطبيق و/أو من خلال الخدمات أو فحصها أو التحكم فيها بأي شكل آخر، ويجوز لنا، وفقا لتقديرنا المطلق، التحقيق في أي انتهاك لشروط الاستخدام الواردة في هذه الوثيقة، ويجوز لنا اتخاذ أي إجراء نراه مناسبا.</li>
<li dir="rtl">منع أو تقييد وصول أي مستخدم إلى التطبيق و/أو الخدمات.</li>
<li dir="rtl">إبلاغ السلطات المختصة بأي نشاط يشتبه بأنه ينتهك أي قانون أو نظام أساسي أو لائحة معمول بها، والتعاون مع هذه السلطات.</li>
<li dir="rtl">طلب أي معلومات وبيانات منك فيما يتعلق باستخدامك للخدمات و/أو الوصول إلى التطبيق في أي وقت.</li>
</ol>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">سياسة الكوكيز</u>
</h2>
<p dir="rtl">توضح سياسة ملفات تعريف الارتباط هذه كيف يستخدم تطبيق <strong><u>وفر لي</u></strong> ملفات تعريف الارتباط والتقنيات المشابهة. عند استخدام&nbsp;<strong><u>وفر لي</u></strong> أو منتجاته أو خدماته الإعلانية أو غيرها من التقنيات ("الخدمات")، أو عند زيارة تطبيقنا أو خدماتنا، يمكن جمع المعلومات من خلال استخدام ملفات تعريف الارتباط والتقنيات المشابهة. يلتزم <strong><u>وفر لي</u></strong>&nbsp;بحماية المعلومات الشخصية التي يتم جمعها عند استخدامك لخدماتنا.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">ما هي ملفات تعريف الارتباط والتقنيات المشابهة؟</u>
</h2>
<p dir="rtl">الكوكيز هو ملف بيانات صغير، غالباً ما يتضمن معرفاً فريداً، يتم إرساله إلى جهاز الكمبيوتر أو الهاتف المحمول أو الجهاز اللوحي (المشار اليه في هذه السياسة باسم "الجهاز") بواسطة خادم الويب بحيث يمكن للموقع أن يتذكر بعض المعلومات حول نشاط التصفح الخاص بك على الموقع. سيقوم ملف تعريف الارتباط بجمع المعلومات المتعلقة باستخدامك لخدماتنا، ومعلومات عن جهازك، مثل عنوان&nbsp;IP&nbsp;للجهاز ونوع المتصفح، والموقع، وإذا وصلت إلى تطبيقنا عبر رابط من موقع الطرف الثالث، عنوان&nbsp;URL&nbsp;لصفحه الربط. إذا قمت بالتسجيل في أي خدمات أو كنت مشتركا، فإنه يجوز جمع اسمك وعنوان البريد الالكتروني، والذي قد يتم نقله إلى معالجات البيانات لأغراض التحقق من المستخدم المسجل أو المشترك.</p>
<p dir="rtl">تسجل ملفات تعريف الارتباط معلومات حول تفضيلاتك على الإنترنت وتساعدنا في تكييف خدماتنا مع اهتماماتك. يمكن أن تساعدنا المعلومات التي توفرها ملفات تعريف الارتباط على تحليل استخدامك لخدماتنا ومساعدتنا على توفير تجربة أفضل للمستخدم.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">كيف نستخدم ملفات تعريف الارتباط؟</u>
</h2>
<p dir="rtl">قد نستخدم المعلومات التي نحصل عليها من استخدامك لملفات تعريف الارتباط الخاصة بنا للأغراض التالية:</p>
<p dir="rtl">- للتعرف عليك عند زيارة التطبيق.</p>
<p dir="rtl">- لتتبعك وأنت تتصفح التطبيق.</p>
<p dir="rtl">- لتحسين ولتحليل استخدام التطبيق.</p>
<p dir="rtl">- في إدارة التطبيق.</p>
<p dir="rtl">- لتخصيص التطبيق الخاص بك، بما في ذلك استهداف الإعلانات، والتي قد تكون ذات أهمية خاصة لك.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">أهمية ملفات تعريف الارتباط</u>
</h2>
<p dir="rtl">تجدر الإشارة إلى أن ملفات تعريف الارتباط هذه ضرورية للغاية لكي يعمل تطبيقنا الإلكتروني، ولا يمكن لأنظمتنا إيقاف تشغيلها. وفي حالة ما قررت تعطيل ملفات تعريف الارتباط الأساسية، فقد لا يمكنك الوصول إلى أجزاء من تطبيقنا الإلكتروني، أو ملء استمارات الطلب، أو الوصول إلى منطقة العميل الآمنة الخاصة بنا.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">الغرض من ملفات تعريف الارتباط</u>
</h2>
<p dir="rtl">تتيح لنا ملفات تعريف الارتباط هذه بمراقبة وتحليل كلاً من أداء إعلاناتنا وتشغيلها ومدى تأثيرها، كما أنها تمكّنك من الاطلاع على المحتوى والإعلانات، الذين يتم تخصيصهما وفقًا لاحتياجاتك، والتي يتم تحديدها من خلال نشاطك من خلال استخدام تطبيقنا.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">كيفية إدارة ملفات تعريف الارتباط؟</u>
</h2>
<p dir="rtl">تسمح لك معظم المتصفحات برفض قبول ملفات تعريف الارتباط. على سبيل المثال:</p>
<p dir="rtl">- في إنترنت اكسبلور، يمكنك رفض جميع&nbsp;ملفات تعريف الارتباط&nbsp;عن طريق النقر على "أدوات"، "خيارات الإنترنت"، "الخصوصية"، واختيار "منع جميع&nbsp;ملفات تعريف الارتباط".</p>
<p dir="rtl">- في فايرفوكس، يمكنك منع جميع ملفات تعريف الارتباط عن طريق النقر على "أدوات"، "خيارات"،&nbsp;وإلغاء تحديد "قبول ملفات تعريف الارتباط من المواقع" في مربع "الخصوصية".</p>
<p dir="rtl">- في جوجل كروم، يمكنك ضبط أذونات ملفات تعريف الارتباط الخاصة بك عن طريق النقر على "خيارات"، "تحت غطاء محرك البحث"، إعدادات المحتوي في قسم "الخصوصية". انقر علي علامة التبويب ملفات تعريف الارتباط في إعدادات المحتوي.</p>
<p dir="rtl">- ومع ذلك، فان حجب جميع ملفات تعريف الارتباط سيكون له تأثير سلبي على سهولة استخدام العديد من مواقع الويب. إذا قمت بحظر ملفات تعريف الارتباط، فقد لا تتمكن من استخدام ميزات معينة على الموقع الكتروني (تسجيل الدخول، والوصول إلى المحتوي، واستخدام وظائف البحث).</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">حذف ملفات تعريف الارتباط</u>
</h2>
<p dir="rtl">يمكنك أيضاً حذف ملفات تعريف الارتباط المخزنة بالفعل على جهاز الكمبيوتر الخاص بك:</p>
<p dir="rtl">- في إنترنت اكسبلور، يجب عليك حذف ملفات تعريف الارتباط يدوياً;</p>
<p dir="rtl">- في فايرفوكس، يمكنك حذف ملفات تعريف الارتباط عن طريق التأكد من حذف ملفات تعريف الارتباط عند "مسح البيانات الخاصة" (يمكن تغيير هذا الاعداد عن طريق النقر فوق "أدوات" و "خيارات" و "إعدادات" في مربع "البيانات الخاصة") ثم النقر فوق "مسح البيانات الخاصة في قائمة "أدوات".</p>
<p dir="rtl">- في جوجل كروم يمكنك ضبط أذونات ملفات تعريف الارتباط الخاصة بك عن طريق النقر على "خيارات"، "تحت غطاء محرك البحث"، إعدادات المحتوي في قسم "الخصوصية". انقر على علامة التبويب ملفات تعريف الارتباط في إعدادات المحتوي.</p>
<p dir="rtl">- القيام بذلك قد يكون لها تأثير سلبي على سهولة استخدام العديد من المواقع.</p>
<p dir="rtl">- في حال حذف الحساب، ستستغرق عملية إزالة ملفات تعريف الارتباط حتى&nbsp;15&nbsp;يومًا.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">الضمانات&nbsp;</u>
</h2>
<p dir="rtl">- لا يضمن تطبيق&nbsp;<strong><u>وفر لي</u></strong>&nbsp;أن التطبيق أو الخادم الخاص به سوف يكون خالياً من الأخطاء، دون انقطاع، وخالياً من الوصول غير المصرح به، أو لتلبية متطلباتك.</p>
<p dir="rtl">- &nbsp;يتم توفير التطبيق، وجميع المعلومات، والمحتويات، والمواد، والمنتجات، والخدمات، ومحتوى المستخدم، سواء كانت مذكورة صراحة أو ضمنًا (ويُشار إليها مجتمعة بـ"محتويات التطبيق") بواسطة&nbsp;<strong><u>وفر لي</u></strong>، كما هي ووفقًا لتوفرها، دون أي إقرارات أو ضمانات من أي نوع، صريحة أو ضمنية.</p>
<p dir="rtl">- لا يقدم&nbsp;<strong><u>وفر لي</u></strong> أي تعهدات أو ضمانات من أي نوع، صريحة أو ضمنية، فيما يتعلق بتشغيل التطبيق، ودقة أو اكتمال محتويات التطبيق، أو أن رسائل البريد الإلكتروني المرسلة من الهدف خالية من البرامج الضارة أو العناصر الضارة الأخرى.</p>
<p dir="rtl">- أنت توافق صراحة على أن استخدامك للتطبيق يقع على مسؤوليتك الشخصية إلى الحد الأقصى المسموح به بموجب القانون.</p>
<p dir="rtl">- أنت توافق على تعويضنا عن أي خسائر أو أضرار ناتجة عن عدم الامتثال لهذه الشروط والأحكام أو بسبب قيامك بانتهاك هذه الشروط والأحكام، ويجب أن تتحمل تكاليف ونفقات الدعاوى المباشرة وغير المباشرة أياً كانت.</p>
<p dir="rtl">- نحن لا نتحمل أية مسؤولية عن أي استخدام لأي محتوى مستخدم تم وضعه أو تخزينه أو رفعه من قبلك أو من قبل أي طرف ثالث أو عن أي خسارة أو أضرار قد تلحق بمحتوى المستخدم.&nbsp;</p>
<p dir="rtl">- لا يتحمل&nbsp;<strong><u>وفر لي</u></strong>&nbsp;أي مسئولية عن:</p>
<p dir="rtl">o أي خدمة أو منتج أو طعام يطلبه العميل، وتقع المسئولية على عاتق المتاجر التي يُطلب منها.</p>
<p dir="rtl">o المورد هو المسؤول الوحيد عن&nbsp;<strong>صلاحية وجودة المنتجات</strong>&nbsp;المعروضة عبر التطبيق، بما في ذلك&nbsp;<strong>تاريخ الانتهاء وسلامة المنتج</strong>.</p>
<p dir="rtl">o تطبيق وفر لي&nbsp;<strong>غير مسؤول عن أي ضرر</strong>&nbsp;ناتج عن منتج غير صالح أو غير مطابق للمواصفات.</p>
<p dir="rtl">o جودة أي خدمة أو منتج أو طعام أو أن المنتجات أو الأطعمة غير متوافقة أو مطابقة للمواصفات الموجودة في التطبيق، أو لا يلبي توقعات العملاء.</p>
<p dir="rtl">o أي استخدام لأي محتوى تم وضعه أو تخزينه أو رفعه من قبلهم أو من قبل أي طرف ثالث أو عن أي خسارة أو أضرار قد تلحق بمحتوى المستخدم.&nbsp;</p>
<p dir="rtl">- تلتزم الشركات المتاجر بالامتثال للقوانين المحلية والقواعد واللوائح والمعايير المطبقة في الدولة فيما يتعلق ببيع وتسويق وسلامة المنتجات.</p>
<p dir="rtl">- لا يتحمل&nbsp;<strong><u>وفر لي</u></strong>&nbsp;أي مسئولية عن أي معلومات أو مواصفات تتم داخل الطلب.</p>
<p dir="rtl">- لا يتحمل&nbsp;<strong><u>وفر لي</u></strong>&nbsp;أي مسئولية عن التأخير أو عدم تنفيذ الطلب.</p>
<p dir="rtl">- تقع مسئولية استخدام المعلومات التي يتلقاها أو يتوصل إليها المستخدمين من خلال التطبيق على عاتق كلاً من الأشخاص الذين يقدمونها، أو الذين يستخدمونها.</p>
<p dir="rtl">- لا نضمن أن يكون التطبيق أو أي من محتوياته أو الخوادم التي يتم من خلالها تشغيله أو أي رسائل إلكترونية يتم إرسالها من خلاله خالية من الفيروسات أو المكونات الضارة الأخرى. ويقع على عاتق المستخدم اتخاذ جميع الاحتياطات المناسبة&nbsp;لحماية أجهزته وبياناته</p>
<p dir="rtl">- نحن نبذل الجهود المعقولة لضمان أن جميع المعاملات تتم معالجتها في الوقت المناسب، ومع ذلك لا يلتزم&nbsp;<strong><u>وفر لي</u></strong>&nbsp;فيما يتعلق بمقدار الوقت اللازم لإتمام معالجة أي معاملة معينة وأيضاً لن يكون مسؤولاً عن أي خسارة مباشرة أو غير مباشرة ناجمة عن أي تأخير من هذا القبيل.</p>
<p dir="rtl"><strong><u>معالجة الطلبات والتوصيل</u></strong></p>
<ul type="disc">
<li dir="rtl"><strong>بمجرد اختيار العميل للمنتجات أو الخدمات من صفحة مقدم الخدمة (المورد) ، يمكنه تنفيذ طلبه بالنقر على زر "تنفيذ الطلب".</strong></li>
<li dir="rtl"><strong>يتحمل العميل مسؤولية التحقق من صحة المعلومات المدخلة قبل النقر على "الدفع". لا يمكن تعديل الطلب بعد تأكيد الدفع.</strong></li>
<li dir="rtl"><strong>بعد إتمام الطلب، يتم إشعار مقدم الخدمة (المورد) عبر النظام، ويتولى معالجة الطلب مباشرة.</strong></li>
<li dir="rtl"><strong>يكون مقدم الخدمة (المورد) مسؤولًا بالكامل عن تنفيذ الطلب، وإدارة عمليات التوصيل، وضمان الامتثال لكافة التراخيص النظامية المتعلقة بذلك، بما في ذلك التراخيص التجارية، والتصاريح البلدية، وأي متطلبات من الجهات المختصة</strong>.</li>
<li dir="rtl"><strong>تطبيق </strong><strong><u>وفر لي</u></strong><strong> لا يتحمل أي مسؤولية قانونية أو تشغيلية أو فنية تتعلق بعملية التوصيل، أو التأخير، أو التلف، أو الخطأ في العنوان، أو أي مخالفة للأنظمة واللوائح التنظيمية الخاصة بعمليات التوصيل.</strong></li>
<li dir="rtl">ي<strong>ُحمّل مقدم الخدمة (المورد) كامل المسؤولية في حال إرسال الطلب إلى عنوان غير صحيح أو في حال عدم توفر شخص مخول للاستلام.</strong></li>
<li dir="rtl"><strong>تُصبح المنتجات/الخدمات ملك العميل بعد تسديد كامل المبلغ المستحق، وفقًا لسياسة الدفع المعتمدة من قبل المورد.</strong></li>
<li dir="rtl"><strong>تطبيق </strong><strong><u>وفر لي</u></strong><strong> لا يضمن وقت التوصيل، حيث أن عملية التوصيل تقع ضمن مسؤوليات المورد.</strong></li>
</ul>
<p dir="rtl"><strong><u>سياسة التوصيل</u></strong></p>
<ul type="disc">
<li dir="rtl">يتحمل مقدم الخدمة&nbsp;<strong>(المورد)</strong>&nbsp;المسؤولية الكاملة عن توصيل الطلبات في الوقت المحدد وبالجودة المتفق عليها.</li>
<li dir="rtl">تطبيق<strong><u>&nbsp;وفر لي&nbsp;</u></strong>لا يقدم خدمات التوصيل بشكل مباشر، ولا يملك أو يدير أي وسيلة توصيل.</li>
<li dir="rtl"><strong>المورد هو الطرف الوحيد المسؤول عن إصدار التراخيص النظامية المتعلقة بالتوصيل والتقيد بالأنظمة البلدية والتنظيمية داخل المملكة العربية السعودية</strong>.</li>
<li dir="rtl">في حال وجود أي تأخير أو خلل في التوصيل، يجب التواصل مباشرة مع مقدم الخدمة (المورد) ، حيث أن تطبيق<strong><u>&nbsp;وفر لي</u></strong>&nbsp;يخلي مسؤوليته عن ذلك تمامًا.</li>
<li dir="rtl">تطبيق&nbsp;<strong><u>وفر لي&nbsp;</u></strong>لا يتحمل أي مسؤولية عن تلف أو فقد أو تأخير في الطلبات أثناء التوصيل، ويتعين على المورد اتخاذ كافة الاحتياطات اللازمة لضمان سلامة التوصيل.</li>
</ul>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">ساعات خدمة العملاء</u>
</h2>
<p dir="rtl">- يتوفر فريق خدمة العملاء لدينا من الساعة&nbsp;9&nbsp;صباحاً حتى&nbsp;5&nbsp;مساءً بتوقيت المملكة العربية السعودية.&nbsp;</p>
<p dir="rtl"><strong><u>حق إلغاء وتغيير الطلب&nbsp;</u></strong></p>
<p dir="rtl">- تختلف مواعيد التوصيل وفقًا لسياسة كل مقدم خدمة (المورد).</p>
<p dir="rtl">- لا يمكن إلغاء الطلبات التي تتضمن أي منتجات مُعدة خصيصاً وفقاً لاحتياجات غذائية معينة أو نكهات مفضّلة تختارونها شخصياً.&nbsp;</p>
<p dir="rtl">- يحق للعميل إلغاء الطلب قبل بدء عملية التجهيز، مع تحمل غرامة بنسبة&nbsp;10٪ من قيمة الطلب.</p>
<p dir="rtl">- في حال تم تجهيز الطلب، لا يحق للعميل إلغاءه، ويلتزم باستلامه وفق شروط الخدمة.</p>
<p dir="rtl">- في حال عدم تسليم الطلب للعميل بعد انقضاء&nbsp;48&nbsp;ساعة من موعد التسليم المتفق عليه، يحق للعميل إلغاء الطلب.</p>
<p dir="rtl">- يتحمل مقدم الخدمة (المورد) غرامة تأخير بنسبة&nbsp;10٪ من قيمة الطلب في هذه الحالة.</p>
<p dir="rtl">- يجب إرسال أي إشعار بالإلغاء على البريد الإلكتروني التالي:&nbsp;<a href="mailto:info@wfr.li">info@wfr.li</a>&nbsp;</p>
<p dir="rtl"><strong><u>التقييمات والمراجعات</u></strong></p>
<ol type="1">
<li dir="rtl">يحق للمستخدمين المسجلين في التطبيق تقديم تقييم أو مراجعة عن جودة المنتجات أو الخدمات أو أداء السائق بعد إتمام الطلب.</li>
<li dir="rtl">يجب أن تكون التقييمات والمراجعات مبنية على تجربة حقيقية، وتُمنع أي تعليقات كيدية أو مسيئة أو تحتوي على ألفاظ غير لائقة.</li>
<li dir="rtl">تحتفظ شركة <strong><u>وفر لي</u></strong> بالحق في إزالة أي تقييمات أو مراجعات مخالفة دون إشعار مسبق.</li>
<li dir="rtl">تُستخدم التقييمات كمؤشر لتحسين جودة الخدمة، لكنها لا تُعدّ توصية رسمية من قبل شركة <strong><u>وفر لي</u></strong>.</li>
<li dir="rtl">لا تتحمل شركة<strong><u>&nbsp;وفر لي</u></strong> أي مسؤولية عن محتوى التقييمات أو دقتها، إذ تعبّر عن آراء المستخدمين فقط.</li>
</ol>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">سياسة الاسترجاع&nbsp;</u>
</h2>
<p dir="rtl">نحن في&nbsp;<strong><u>وفر لي</u></strong>&nbsp;نسعى دائماً لإرضاء عملائنا بنسبة&nbsp;100% ونبذل قصارى جهدنا لتلبية متطلباتهم. إذا لم تكن راضيًا عن خدماتنا، يمكنك الاتصال بنا أو التواصل عبر تطبيقنا أو البريد الإلكتروني على <a href="mailto:info@wfr.li">info@wfr.li</a>&nbsp;</p>
<p dir="rtl">- <strong>بالنسبة إلى سياسة إرجاع طلبات المتاجر</strong>، يتم تطبيق الشروط الخاصة بالمتاجر. ولا يتحمل&nbsp;<strong><u>وفر لي</u></strong>&nbsp;أي مسؤوليات عن النزاعات التي قد تنشأ عن شروط إعادة الطلبات الخاصة بالمتاجر أو المحلات.</p>
<p dir="rtl">- بالنسبة إلى سياسة إرجاع المنتجات يلزم للاستفادة منها الشروط الآتية:</p>
<ol type="1">
<li dir="rtl">يجب أن يكون المنتج غير مستخدم وفي نفس الحالة التي تلقيتها.</li>
<li dir="rtl">يجب أن يكون المنتج الخاص بك أيضا في العبوة الأصلية.</li>
<li dir="rtl">يجب إرفاق فاتورة الشراء الأصلية عند بدء إجراءات استبدال أو استرجاع المنتجات.</li>
<li dir="rtl">يجب إرفاق صورة واضحة للمنتج لإثبات صحته وسلامته قبل البدء في إجراءات الإرجاع أو الاستبدال.</li>
<li dir="rtl">يحق للعميل استرجاع قيمة المنتج أو استبداله بمنتج آخر حسب اختياره.</li>
<li dir="rtl">عند طلب استرجاع منتج فإنه يخضع لعملية فحص للتأكد من حالته، وتتم الموافقة على استرجاع المبلغ بعد التأكد من أن حالة المنتج متطابقة مع سياسة الاسترجاع.</li>
<li dir="rtl">يلزمك لإتمام عملية الإرجاع، وجود قسيمة الشراء من تطبيقنا.&nbsp;</li>
</ol>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">سياسة استرداد المال</u>
</h2>
<p dir="rtl">- نبذل قصارى جهدنا لضمان رضائك عن خدمة طلبات&nbsp;<strong><u>وفر لي</u></strong>&nbsp;ولكن يمكن رد كامل أو جزء من المبلغ طبقاً للحالات التالية:</p>
<p dir="rtl">1. يجوز رد المبلغ كاملاً لك في حالة عدم حصولك على الطلب</p>
<p dir="rtl">2. يجوز رد جزء من المبلغ في حالة نقص جزء من طلبك.&nbsp;</p>
<p dir="rtl">- فور تلقي طلب إعادة قيمة مشتريات والنظر فيه من قبلنا، سنقوم بإرسال رسالة إلكترونية لك، لنعلمك بأنه قد تم تلقي طلبك، كما سنعلمك بأن طلبك قد تم قبوله أو رفضه.&nbsp;&nbsp;</p>
<p dir="rtl">- إذا تمت الموافقة، فسيتم معالجة طلبك، ويمكنك استلام أموالك المستردة إلى طريقة الدفع الأصلية الخاصة بك&nbsp;او&nbsp;في المحفظة على حسب اختبار العميل.</p>
<p dir="rtl">- يحق للعميل استرجاع مبلغ المنتج كاملاً في حال كان المنتج الذي وصله مختلفاً تماماً عن وصف المنتج في صفحة المنتج.</p>
<div>
<p dir="rtl">● الاسترداد المتأخر أو المفقود (إن وجد)</p>
</div>
<p dir="rtl">- إذا لم يتم استرداد المبلغ المستحق، فتحقق أولاً من حسابك البنكي مره أخرى. ثم الاتصال بشركة بطاقة الائتمان الخاصة بك، فقد يستغرق الأمر بعض الوقت قبل أن يتم ترحيل المبلغ رسمياً. ثم الاتصال بالبنك الخاص بك. غالباً ما يكون هناك بعض وقت المعالجة قبل الاسترداد.</p>
<p dir="rtl"><strong>-</strong> إذا كنت قد فعلت كل هذا ولم تستلم المبلغ المسترد بعد، يرجى التواصل معنا على&nbsp;<a href="mailto:info@wfr.li">info@wfr.li</a></p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">سياسة الدفع</u>
</h2>
<p dir="rtl">- نحن في&nbsp;<strong><u>وفر لي</u></strong> نوفّر حلول الدفع الأمثل المستخدمة داخل المملكة العربية السعودية لتقدم أفضل تجربة مضمونة ومرنة في الدفع لراحة العملاء وتشمل:</p>
<p dir="rtl">o الدفع كاش</p>
<p dir="rtl">o بطاقات الائتمان&nbsp;</p>
<p dir="rtl">o بطاقات مدى</p>
<p dir="rtl">o وسائل الدفع الأخرى</p>
<p dir="rtl">- لا يتم تخزين أرقام بطاقات الائتمان على أنظمتنا، كما يتم حماية تفاصيل الدفع قبل نقلها باستخدام أحدث تقنيات الحماية الالكتروني التي تتبع أعلى معايير الأمان. من جهتك كعميل، فإن عليك حماية كلمة السر الخاصة بك وعدم مشاركتها مع الآخرين حفاظاً على معلوماتك الشخصية وتفاصيل بطاقاتك الائتمانية.</p>
<p dir="rtl">- نحن نستخدم معلوماتك الشخصية فقط لأغراض تتعلق بتلبية طلباتك، ولا نكشف هذه المعلومات لأي طرف ثالث تحت أي ظرف من الظروف.</p>
<p dir="rtl">- يتم رفض بطاقتك الائتمانية لعدة أسباب منها عدم التأكد من صلاحية البطاقة أو عدم تزودها بخدمة التسوق الإلكتروني (في هذه الحالة اتصل بالمصرف الذي تتعامل معه واطلب تزويد بطاقتك بهذه الخدمة).</p>
<p dir="rtl">- تأكد من إدخال البيانات بشكل صحيح (رقم البطاقة الائتمانية -الاسم على البطاقة الائتمانية -رمز الحماية الخاص بالبطاقة (الأرقام الثلاثة الموجودة في الخلف -تاريخ الانتهاء)</p>
<p dir="rtl">- إذا كنت تواجه صعوبات في الدفع، يمكنك مراسلتنا على&nbsp;<a href="mailto:info@wfr.li">info@wfr.li</a>&nbsp;لنقدم لك المساعدة.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">التعاملات المالية</u>
</h2>
<p dir="rtl">- تعتبر جميع المعاملات مستحقة بأثر فوري بطرق الدفع المتوافرة داخل التطبيق، ويحق لنا إنشاء و/أو إلغاء و/أو مراجعة الرسوم الخاصة بأي من الخدمات التي تقدمها من خلال التطبيق.</p>
<p dir="rtl">- جميع المعلومات والبيانات التي تقوم بإدخالها من خلال بوابة الدفع الإلكترونية يتم تشفيرها بغرض الحماية الأمنية، ويتم أيضا تشفير المراسلات المتداولة من وإلى موقع مزود الخدمة.</p>
<p dir="rtl">- يجب عليك التأكد من أن المعلومات المتعلقة بالبطاقة الائتمانية التي تستخدمها في الدفع صحيحة ودقيقة وسارية المفعول قبل إتمام عملية الدفع.</p>
<p dir="rtl">- قد تكون هناك معاملات ماليه بالدفع بالاجل بين المشتريين ويكون ذلك باختيار المورد ومنح تلك الصلاحية لمن يريد</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">التعويض</u>
</h2>
<p dir="rtl">- أنت توافق على الدفاع عن&nbsp;<strong>تطبيق </strong><strong><u>وفر لي</u></strong>&nbsp;ومسؤوليها وموظفيها ومديريها ووكلائها ومرخصيها وشركائها وتعويضهم والحفاظ عليهم من أي ضرر ناشئ عن أي مطالبات أو دعاوى أو مطالب أو التزامات أو تسويات بما في ذلك، على سبيل المثال لا الحصر، الرسوم القانونية والمحاسبية المعقولة الناتجة عن استخدامك للتطبيق أو المحتويات، أو التي يتم الادعاء بأنها ناتجة عن ذلك، أو عن انتهاكك لهذه الشروط والأحكام.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">حقوق الملكية الفكرية</u>
</h2>
<p dir="rtl">- يتضمن هذا التطبيق على معلومات ومواد محميّة بموجب حقوق الملكية الفكرية، بما في ذلك، وعلى سبيل المثال لا الحصر، العلامات التجارية وحقوق المؤلفين وحقوق قواعد البيانات، من محتوى ومواد مدرجة في هذا التطبيق، بما في ذلك، وعلى سبيل المثال لا الحصر، الرسومات، والرسومات التوضيحية، والنصوص، والصور، والبرامج والتنزيلات الرقمية، ومقاطع الصوت والفيديو، أو أي مزيج منها أو من مواد أخرى. ويمثّل كلّ ما ورد ذكره في هذا البند من مواد ومعلومات ومحتوى ملكية حصريّة&nbsp;<strong>لشركة </strong><strong><u>وفر لي</u></strong>&nbsp;و/أو الشركات التابعة لها ومحمياً بموجب حقوق العلامة التجارية وحقوق الطبع والنشر وقواعد البيانات المعمول بها والقوانين الأخرى، كما أنّ جميع هذه الحقوق محفوظة&nbsp;<strong>لشركة </strong><strong><u>وفر لي</u></strong>&nbsp;و/أو الشركات التابعة لها.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">العلامات التجارية</u>
</h2>
<p dir="rtl">- جميع العلامات التجارية، والشعارات، وعلامات الخدمة والأسماء التجارية المعروضة على هذا التطبيق هي علامات تجارية مسجلة و/أوغيرمسجلة&nbsp;<strong>لشركة </strong><strong><u>وفر لي</u></strong> أو شركاتها التابعة، أو علامات تجارية لطرف ثالث، أو لمالكي الاسم التجاري.</p>
<p dir="rtl">للإبلاغ عن أي انتهاك لحقوق النشر أو حقوق العلامة التجارية يرجى مراسلتنا على: <a href="mailto:info@wfr.li">info@wfr.li</a>&nbsp;</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">الدعاية والإعلان</u>
</h2>
<p dir="rtl">- اشتراكك بتطبيق&nbsp;<strong><u>وفر لي</u></strong> يخولك تلقائيًا باستقبال رسائل وعروض خاصة ودعائية ونشرات بريدية أو رسائل نصية من التطبيق، يتم استخدام هذه الرسائل لإعلامك وتنبيهك بأي تغييرات أو مميزات أو أنشطة جديدة تضاف إلى التطبيق نرى أنها قد تهمك. إن قررت في أي وقت عدم رغبتك في تلقي رسائل ترويجية، يمكنك تعطيل تلقي هذه الرسائل عن طريق مراسلتنا، ولكن في هذه الحالة لا نضمن تمتعك بخدماتنا بالشكل الكامل.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">الاتصالات الإلكترونية</u>
</h2>
<p dir="rtl">- يقر ويوافق المستخدم على أن يتم التواصل معه عبر البريد الإلكتروني، أو من خلال بث إعلانات ترويجية على التطبيق، كما ويقر ويوافق على أن جميع الاتفاقيات والإعلانات والبيانات والاتصالات الأخرى التي يزود بها إلكترونياً تقوم مقام مثيلاتها المكتوبة، في تلبية الاحتياجات القانونية.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">روابط لمواقع الأطراف الثالثة</u>
</h2>
<p dir="rtl">- قد يحتوي التطبيق على روابط ووظائف تفاعلية تتفاعل مع مواقع الويب الخاصة بالأطراف الثالثة. لا يتحمل&nbsp;<strong><u>وفر لي</u></strong> أي مسؤولية عن الوظائف أو الإجراءات أو إعدادات الخصوصية أو سياسات الخصوصية أو الشروط أو محتوى خاص بأي موقع من هذا القبيل. قبل تمكين أي من وظائف المشاركة في التطبيق للتواصل مع أو زيارة أي موقع من هذه المواقع، يوصي <strong><u>وفر لي</u></strong> بشدة بمراجعة وفهم الشروط والأحكام، وسياسات الخصوصية، والإعدادات، ووظائف تبادل المعلومات لكل موقع من مواقع الأطراف الثالثة. لا تشكل الروابط والوظائف التفاعلية لمواقع الطرف الثالث الموجودة على التطبيق موافقة من قِبل&nbsp;<strong><u>وفر لي</u></strong>&nbsp;على مثل هذه المواقع الخارجية. إن استخدامك لمواقع الويب والطرف الثالث يكون على مسؤوليتك الخاصة.&nbsp;</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">القوة القاهرة:</u>
</h2>
<p dir="rtl">- لا يتحمل تطبيق <strong><u>وفر لي</u></strong>&nbsp;تحت أي ظرف من الظروف المسؤولية&nbsp;عن أي تأخير أو فشل للمحتوي أو الخدمات المقدمة من خلال التطبيق الناتجة بشكل مباشر أو غير مباشر عن أعمال الطبيعة أو القوي أو الأسباب التي تتجاوز سيطرتنا المعقولة ، بما في ذلك على سبيل المثال لا الحصر، فشل الإنترنت، والكمبيوتر، والاتصالات أو أي فشل آخر في المعدات، وانقطاع التيار الكهربائي، و الإضرابات، والنزاعات العمالية، وأعمال الشغب، والعصيان، والاضطرابات المدنية، ونقص العمالة أو المواد، والحرائق، والفيضانات، التفجيرات، والقضاء والقدر، والحرب، والإجراءات الحكومية، وأوامر من المحاكم المحلية أو الأجنبية أو الهيئات القضائية أو عدم أداء الأطراف الثالثة.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">القابلية</u>
</h2>
<p dir="rtl">- لا يؤثر بطلان أو عدم قابلية تنفيذ أي بند من أحكام هذه الاتفاقية على صلاحية أو إنفاذ أي حكم آخر. ويعتبر أي بند غير صالح أو غير قابل للتنفيذ مقطوعاً من هذه الاتفاقية إلى حد عدم صلاحيته أو عدم قابليته للتنفيذ، ويجب تفسير هذه الاتفاقية وتنفيذها كما لو أن الاتفاقية لم تتضمن هذا البند الخاص إلى حد عدم صلاحيته أو عدم قابليته للتنفيذ.</p>
<p dir="rtl">- لا يؤثر بطلان أو عدم إمكانية تطبيق أحكام أو شروط أخرى من هذه الاتفاقية على أي بند آخر من هذه الاتفاقية إذا أمكن، سيتم تعديل أي حكم غير قابل للتنفيذ في هذه الاتفاقية ليعكس النية الأصلية للأطراف.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">السرية</u>
</h2>
<p dir="rtl">- نحن في&nbsp;<strong><u>وفر لي&nbsp;</u></strong>نضمن لك حماية معلوماتك الشخصية وعدم وصولها لأي شخص آخر غير الأفراد أو مقدمي الخدمات وذلك بغرض إتمام الطلب حيث أن المعلومات تقتصر على العنوان، رقم الجوال، والبريد الإلكتروني.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">الأمان</u>
</h2>
<p dir="rtl">- أنت توافق على توفير الأمان لتطبيق <strong><u>وفر لي&nbsp;</u></strong>ومدراءه وموظفيه ووكلائه وحمايته من أي ضرر قد يلحق به جراء أي مطالبات أو خسائر أو أعطال أو تكاليف أو نفقات، تحدث بسبب انتهاكك لاتفاقية المستخدم أو خرقك لأي قانون.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">التعديلات على اتفاقية وشروط الاستخدام</u>
</h2>
<p dir="rtl">- نحن نحتفظ بالحق، ووفقاً لتقديرنا الخاص بمراجعة وتعديل اتفاقية الاستخدام للتطبيق بدون إشعار أو تنبيه مسبق. يمكنك الدخول إلى أحدث نسخة من &ldquo;اتفاقية الاستخدام&rdquo; في أي وقت على تطبيق "<strong><u>وفر لي</u></strong>". في حالة عدم قبولك للتعديلات على اتفاقية الاستخدام فيجب عليك التوقف عن استخدام هذا "التطبيق". في حال استمرارك باستخدام هذا "التطبيق" فإنك توافق ضمنياً على الالتزام بالبنود المعدلة على اتفاقية الاستخدام عند استخدام هذا "التطبيق".</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">المدة والإنهاء</u>
</h2>
<p dir="rtl">- <strong>الإنهاء من قبل شركة </strong><strong><u>وفر لي</u></strong><strong>:</strong>&nbsp;نحتفظ بالحق، ووفقاً لتقديرنا الخاص، في إنهاء أو تقييد أو إيقاف أي مستخدم من الوصول إلى التطبيق أو استخدامه بدون إشعار ولأي سبب كان وبدون إبداء أي سبب، أو أي سلوك قد نعتبره غير قانوني أو ضار بالآخرين. بما في ذلك على سبيل المثال لا الحصر، إذا كنا نعتقد لأسباب معقولة بأنك انتهكت سياسة الاستخدام أو أي سياسة أخرى ذات صلة، أو أنك تشكل خطراً أو تعرضنا لمخاطر قانونية محتملة.</p>
<p dir="rtl">- <strong>الإنهاء من قبلك:</strong>&nbsp;إذا لم تكن راضياً عن&nbsp;<strong><u>وفر لي</u></strong>&nbsp;أو خدماتنا الحل المتوفر لك هو التوقف عن استخدام التطبيق.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">النزاعات والقوانين</u>
</h2>
<p dir="rtl">- تخضع شروط وأحكام المستخدم والعلاقة بين المستخدم&nbsp;<strong><u>وفر لي</u></strong> وأي نزاعات أو مطالبات أو خلافات تنشأ عن شروط الاستخدام أو تتعلق بأي انتهاك أو إنهاء أو تنفيذ أو تفسير أو صلاحية أو استخدام التطبيق أو الخدمة للقوانين واللوائح المعمول بها في المملكة العربية السعودية وتفسر وفقاً لها.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">لغة الاتفاقية</u>
</h2>
<p dir="rtl">- تعتبر اللغة العربية هي اللغة المعتمدة في صياغة شروط وأحكام هذه الاتفاقية. في حال وجود أي تعارض بين الاتفاقية باللغة العربية واللغة الإنجليزية تُقدم النسخة العربية عليها.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">مجمل الاتفاق&nbsp;</u>
</h2>
<p dir="rtl">- تمثل شروط الاستخدام وأية سياسات أو قواعد تشغيل نُشرت من قبلنا على هذا التطبيق أو فيما يتعلق بالخدمات الاتفاق والتفاهم الكامل بينك كمستخدم وبين&nbsp;<strong><u>وفر لي&nbsp;</u></strong>والتي تحكم استخدامك للخدمة وتحل محل أية اتفاقيات سابقة فيما يتعلق بموضوع هذه الاتفاقية، سواء مكتوبة أو شفوية.</p>
<p dir="rtl">- في حال لم نتمكن من تطبيق أي حق أو مادة من شروط الخدمة هذه فإن هذا لا يعد تنازلاً منا عنها.</p>
<p dir="rtl">- في حال اعتبار أي بند من أحكام هذه الاتفاقية غير قانوني أو غير صالح أو غير قابل للتنفيذ، سواء كليًّا أو جزئيًّا، بموجب أي قانون، فلا يعد هذا الحكم أو جزء منه، وفق الحدود التي لا يعتبر هذا الحكم أو جزء منه يشكل جزءاً من هذه الاتفاقية، دون أن تتأثر قانونية وسريان وقابلية تنفيذ الأحكام الأخرى الواردة في هذه الاتفاقية.</p>
<h2 class="text-lg md:text-xl font-bold text-gray-900 mb-4" dir="rtl">
  <u class="decoration-primary decoration-2 underline-offset-4">معلومات الاتصال</u>
</h2>
<p dir="rtl">- إذا كان لديك أي شكاوى حول التطبيق أو الخدمات أو الإعلانات أو المعلومات، فيمكنك التواصل عبر</p>
<p>● البريد الإلكتروني&nbsp;<a dir="ltr" href="mailto:info@wfr.li"><strong><u>info@wfr.li</u></strong></a> :</p>
  </main>
</Layout>